@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

/*  "Peaky Blinders" style font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&display=swap');


/* Optional: Set it as a variable or default */
:root {
  --font-chinese: 'Long Cang', cursive;
  --font-cinzel: 'Cinzel', serif;
}