/* Ensure the browser takes up the full window */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Ensure the React container takes up the full window */
#root {
  width: 100%;
  min-height: 100vh; /* Minimum height of the viewport */
  display: flex;     /* Helps children fill the space */
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
